$base_heading : #fff;
$base_primary_color : #e7e7e7;
$base_secondary_color :  rgb(44, 44, 44);
$body_base : #fff;
$box_hover : grey;
$base_dark_text : rgb(0,0,0);
$base_light_text : rgb(255, 255, 255);
$base_hover_color :  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$dark_color_box : rgb(44, 44, 44);

