.Filter_result {
    text-align: center;
    padding: 20px 20px 20px 20px;
    h1 {
        font-size: 25px;
        font-weight: 600;

    }

}
.Bus_result_boxes {
    padding: 20px 60px 100px 60px;
display: grid;
grid-template-columns: (1fr);

}

