@import "../../styles/_color.scss";

.bus_photos {
  padding: 10px 60px 10px 60px;
}

.header_top_bar {
  display: grid;
  grid-template-columns: (1fr 1fr);
  padding: 10px 60px 10px 60px;
  background-color: $base_secondary_color;
  color: white;

  p {
    color: $base_heading;
    margin-top: 4px;
  }
}

.navbar {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 10px 60px 10px 60px;
  background-color: #fbfbfb;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);

  .logo {
    fill {
      color: pink;
    }
    svg {
      height: auto;
      width: 120px;
    }
  }

  ul a {
    color: black;
  }

  ul .active {
    background-color: #f1ecec;
    a {
      color: black;
    }
  }

  ul .active:hover {
    padding: 10px;
    color: #722e2e;
  }

  .nav-logo {
    height: auto;
    width: 100px;
  }

  .nav-menu {
    float: right;
    text-align: right;
    justify-content: right;

    ul li {
      padding: 10px;
      color: #f8fcfb;
    }
  }

  .mobile_menu {
    ul li {
      padding: 10px;
      color: #f8fcfb;
    }
  }
}

.stickey_navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.heading-news {
  padding: 10px 60px 10px 60px;
  background-color: #dbe9ee;
}

.tool-bar {
  a {
    color: $base_heading;
    font-size: 12px;
  }
  p {
    color: $base_heading;
    font-size: 12px;
  }
}

.mobile-menu-icon {
  display: none;

  .fa-duotone {
    color: black;
    font-size: 30px;
  }
}

footer {
  background-color: $base_secondary_color;
}

.footer_sections {
  padding: 40px 60px 20px 60px;
  display: grid;
  grid-template-columns: (1fr 2fr 2fr 2fr 2fr);
  color: white;
  gap: 30px;

  .footer_heading {
    padding: 0 0 90px 0;
    h5 {
      font-size: 20px;
    }
  }
  .Newsletter_button {
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(24, 214, 88, 0.651);
    width: 100%;
  }
}

.footer_bottom_poster {
  display: grid;
  grid-template-columns: (1fr 1fr);
  padding: 5px 60px 5px 60px;
  background-color: $base_primary_color;
  color: $base_dark_text;

  .float-right {
    justify-content: right;
  }
}

.Payment_gateway {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  img {
    position: relative;
    top: 30%;
    width: auto;
    height: 15px;
  }
}

.footer_newsletter {
  .font-20 {
    font-size: 23px;
  }
  .Newsletter_heading {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 150px) and (max-width: 768px) {
  .header_top_bar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 10px 10px 10px;

    .break-line {
      display: block;
    }
  }
  .navbar {
    padding: 10px 20px 10px 20px;
  }
  .nav-menu {
    display: none;
  }

  .mobile_menu {
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    left: 0;
    height: 100vh;
    width: 40vh;
    background-color: black;
    z-index: 10;
    transform: translate(-290px, 0px) scale(1, 1.1);
    animation: cssAnimation_0 200ms linear forwards;

    @keyframes cssAnimation_0 {
      to {
        transform: translate(0px, 0px) scale(1, 1.1);
      }
    }
    ul {
      float: none !important;
      padding: 40px;
      display: block;
      position: relative;
      left: 0%;
      margin: 50px 0 -20px 0;

      display: grid;
      grid-template-columns: 1fr;
      place-items: center;

      li {
        text-align: center;
        margin: 5px;
        width: 100%;
        padding: 5px;
        a {
          color: white;
        }
      }
      li:hover {
        background-color: #722e2e;
      }
    }
  }

  .mobile-menu-icon {
    position: relative;
    top: 15%;
    text-align: right;
    display: block;

    .svg-inline--fa {
      color: rgb(0, 0, 0);
    }
  }
  footer {
    background-color: black;
  }

  .footer_sections {
    text-align: center;
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: (1fr);
    color: white;
    gap: 30px;
    height: auto;

    .footer_heading {
      padding: 0 0 10px 0;
      h5 {
        font-size: 20px;
      }
    }
    .Newsletter_button {
      padding: 10px;
      margin-top: 10px;
      background-color: rgba(24, 214, 88, 0.651);
      width: 100%;
    }
  }

  .footer_bottom_poster {
    display: grid;
    grid-template-columns: (1fr);
    text-align: center;
    padding: 20px;
    font-size: 12px;
    background-color: $base_primary_color;
place-items: center;

    .float-right {
      justify-content: right;
    }
  }

  .Payment_gateway {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    img {
      position: relative;
      top: 30%;
      width: auto;
      height: 15px;
    }
  }

  .footer_newsletter {
    .font-20 {
      font-size: 23px;
    }
    .Newsletter_heading {
      padding-top: 10px;
    }
  }

  .location_map {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .footer_sections {
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: (1fr 1fr);
    color: white;
    gap: 30px;
    height: auto;

    .footer_heading {
      padding: 0 0 10px 0;
      h5 {
        font-size: 20px;
      }
    }
    .Newsletter_button {
      padding: 10px;
      margin-top: 10px;
      background-color: rgba(24, 214, 88, 0.651);
      width: 100%;
    }
  }

  .footer_bottom_poster {
    display: grid;
    grid-template-columns: (1fr);
    text-align: center;
    place-items: center;
    padding: 20px;
    font-size: 12px;
    background-color: $base_primary_color;


    .float-right {
      justify-content: right;
    }
  }

  .Payment_gateway {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    img {
      position: relative;
      top: 30%;
      width: auto;
      height: 15px;
    }
  }
}
