.main-slider {
    padding: 10px 60px 30px 60px;
    display: grid;
    grid-template-columns: (1fr 1fr 1fr 1fr 1fr);
    gap: 10px;
place-content: center;
background-color: #1c3738;
}

.Filter_button {
    margin: 27px 0 0 0;
    padding: 15px;
    background-color: #77aca2;
    color: white;
    width: 100%;

}

.Filter_input {
    padding: 10px;
    width: 100%;
}

.Filter_input_Date {
    padding: 9px;
    width: 100%;
}

label {
    color: white;
    font-size: 15px;
  text-align: center;

}


@media only screen and (max-width:768px) {
    .main-slider {
        padding: 10px 20px 30px 20px;
        display: grid;
        grid-template-columns: (1fr 1fr);
        gap: 10px;
    place-content: center;
    background-color: #1c3738;
    }

    .Filter_button {
        margin: 27px 0 0 0;
        padding: 15px;
        background-color: #77aca2;
        color: white;
        width: 100%;

    }

    .Filter_input {
        padding: 10px;
        width: 100%;
    }

    .Filter_input_Date {
        padding: 9px;
        width: 100%;
    }

    label {
        color: white;
        font-size: 15px;
      text-align: center;

    }



}


